body {
  background-color: #f48fb1; /* Pink */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.card-container {
  background: white;
  width: 450px;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 50px 0px 2px 0px;
}

.card-container h3 {
  text-align: center;
  color: #0a2540;
  margin-bottom: 1.5rem;
  
}

.person {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  column-gap: 94px;
}

.person img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.person-details {
    line-height: 2.25rem;
}

.person h6 {
  margin: 0;
  color: #0a2540;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
}

.person p {
  margin: 0;
  color: #7c8798;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  background-color: #f48fb1;
  border: none;
  color: white;
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #ec407a;
}